<!DOCTYPE html>
<html lang="fr">
    <head>
        <title>Accueil</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="./ressources/style.css" rel="stylesheet">
        <nav class="navbar">
            <img src="ressources/goSecuri.png">
            <a class="navbar-brand" href="../index.html">Go Securi</a>
        </nav>
    </head>
    <body>
    <h3> Liste des agents</h3>
        <ul class="listeAgent">

            {{% AGENT_LINK %}}

        </ul>
    </body>
</html>