@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@0&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
}

h3 {
    font-size: x-large;
    text-align: center;
    margin-top: 5%;
}

h1 {
    font-size: x-large;
    width: max-content;
    border: 1px solid black;
    text-align: left;
    margin: 5% 5% 0;
    padding: 0.5%;
}

.navbar {
    display: flex;
    align-items: center;
    height: 8vh;
    background-color: #379EC1;

}

.navbar > img {
    float: left;
    margin-left: 2%;
    width: 70px;
    height: 70px;
}

.navbar > .navbar-brand {
    position: sticky;
    left: 50%;
    transform: translateX(-50%);
    text-decoration: none;
    font-size: x-large;
    font-weight: bold;
    color: aliceblue;
}

.listeAgent {
    width: 790px;
    margin: 3% auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.listeIndex {
    margin-top: 80px;
    margin-right: 40px;
    list-style: none;
}

.listeIndex > .linkAgent {
    text-decoration: none;
    color : white;
    background-color: #659224;
    padding: 24px 32px;
    border-radius: 8px;
}

.listeIndex > .linkAgent:hover {
    box-shadow: 0 9px 13px 0 rgba(0,0,0,0.15), 0 13px 50px 0 rgba(0,0,0,0.19);
}

.imgAgent {

}


